/* styles.css */
body {
    background: url('bgcuaca.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.header {
    background-color: rgba(255, 255, 255, 0.8);
}

.main-container {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
}

.footer {
    background-color: rgba(255, 255, 255, 0.8);
    border-top: 5px solid black;

}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    border: 1px solid #ccc;
}

#weatherResult {
    margin-top: 20px;
}

.btn-warning {
    background-color: #ffcc00;
    border-color: #ffcc00;
}

.btn-warning:hover {
    background-color: #e6b800;
    border-color: #e6b800;
}

select, input, textarea {
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-header, .modal-footer {
    background-color: rgba(255, 255, 255, 0.8);
}

.modal-content {
    border: 5px solid black;
    border-radius: 10px;
}

/* styles.css */

.info-container {
    background-color: #f8f9fa; /* Warna latar belakang yang konsisten dengan Bootstrap */
    border: 1px solid #dee2e6; /* Border tipis untuk membedakan */
    border-radius: 0.375rem; /* Radius border yang halus */
    padding: 1.5rem; /* Ruang dalam */
    margin-bottom: 1.5rem; /* Jarak bawah */
}

.info-container h2 {
    font-size: 2 rem; /* Ukuran font yang konsisten */
    color: #343a40; /* Warna teks konsisten dengan tema Bootstrap */
}

.info-container p {
    font-size: 1rem; /* Ukuran font yang konsisten */
    color: #495057; /* Warna teks konsisten dengan tema Bootstrap */
}
